<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Appointment:</strong>
    <%= evaluation.appointment_id %>
  </p>

  <p>
    <strong>Opinion:</strong>
    <%= evaluation.opinion %>
  </p>

</div>
