<br>
<h4>Generate prescription</h4>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Patient</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Genoveva Arriba">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Doctor</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Prince Charles III">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Aristab</option>
      <option>Exodus</option>
      <option>Rivotril</option>
      <option>Ritalina</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">How to take your medicine</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
<button type="button" class="btn btn-secondary">Generate</button>
