<br>
<h4>Reports</h4>
<form>
    <div class="row">
        <div class="col">
            <input type="date" class="form-control">
        </div>
        <div class="col">
            <input type="date" class="form-control">
        </div>
        <div class="col">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck"> All dates </label>
        </div>
    </div>
    <div class="col">
        <br>
        <label for="inputAddress" class="form-label">Doctor</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col">
        <br>
        <label for="inputAddress" class="form-label">Doctor</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col">
        <br>
        <label for="inputAddress" class="form-label">Appointment Hour</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col">
        <br>
        <label for="inputAddress" class="form-label">Patient</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
</form>
<br>
<button type="button" class="btn btn-secondary">Generate</button>